[user]
    name = yasufumi
    email = yasufumi.taniguchi@gmail.com

[push]
    default = current

[color]
    branch = auto
    diff = always
    branch = auto
    diff = always
    interactive = auto
    status = auto
    pager = false
    ui = auto
    ui = true

[diff]
    tool = vimdiff
    algorithm = histogram
        compactionHeuristic = true

[core]
    pager = less -q -R
    editor = vim
    excludesfile = ~/.gitignore
    preloadindex = true

[merge]
    tool = vimdiff

[alias]
    co = checkout
    br = branch
    st = status
    ci = commit
    df = diff
    graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
    # count commits
    cc = rev-list --all --count

[help]
    autocorrect = 1

[credential]
    helper = osxkeychain
