[user]
    name = Yasufumi Taniguchi
    email = yasufumi.taniguchi@gmail.com

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[color]
    branch = auto
    diff = always
    interactive = auto
    status = auto
    ui = auto
    pager = false

[diff]
    tool = vimdiff
    algorithm = histogram
        compactionHeuristic = true
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[core]
    pager = less -q -R
    editor = vim
    excludesfile = ~/.dotfiles/git/gitignore
    preloadindex = true

[commit]
    verbose = true

[rerere]
    enabled = true
    autoupdate = true

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[merge]
    tool = vimdiff

[pager]
    branch = cat

[column]
    ui = auto

[alias]
    graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
    cc = rev-list --all --count

[help]
    autocorrect = 1

[credential]
    helper = osxkeychain

[init]
    defaultBranch = main
